<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>

</head>
<body>
<form action="/">
    <input type="submit" value="Retour à l'accueil" />
</form>
<h1>Ajouter un article dans le catalogue (BDD)</h1>
<form action="/add-article" method="POST">
{% csrf_token %}
    <label for="nom_id">Nom</label>
<input type="text" name="nom" id="nom_id"/>
    <label for="stock_id">Stock</label>
    <input type="number" name="stock" id="stock_id"/>
<input type="submit" value="Valider"/>
</form>
</body>
</html>