<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Catalogue Produit</title>
</head>
<body>
<h1>Catalogue Produits</h1>
<h2>Le catalogue produit stocke les informations envoyées par les différents fournisseurs</h2>
<h3>Charger le catalogue produit à l'aide d'un fichier JSON</h3>
 <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="file">
    <button type="submit">Charger le fichier de données</button>
 </form>
<p style="color: red">{{ error }}</p>
<h3>Aller consulter les données actuelles du catalogue</h3>
<form action="/info">
    <input type="submit" value="Informations du catalogue" />
</form>
<h3>Vider la base de données</h3>
<form action="/clear-data">
    <input type="submit" value="Clear Data" />
</form>
<h3>Tests des routes API</h3>
<form action="/api/get-all">
    <input type="submit" value="ALL" />
</form>
<form action="/api/get-ecommerce">
    <input type="submit" value="ECOMMERCE" />
</form>
<form action="/api/get-magasin">
    <input type="submit" value="MAGASIN" />
</form>
<form action="/api/get-by-id/X1-1">
    <input type="submit" value="BY ID X1-1" />
</form>
</body>